#menu {
	z-index: 20;
	position: absolute;
	margin: 1px 0 0 1px;
	width: 98%;
	color: #000000;
}

.subMenu {
	z-index: 30;
	position: absolute;
	background: #f1f1f1;
	background-image: url(images/menu_bg.png);
	background-repeat: repeat-y;
	background-color: #ECF4FE;
	border: #D4E4FB 1px solid;
	padding: 3px 3px 3px 3px;
	overflow: visible;
}

.subMenu .outMenu {
	border-width: 0;
}

.subMenu .outMenu .outMenuLeftCell {
	width: 22px;
	height: 24px;
	border-left: transparent 1px solid;
	_border-color: tomato; /*For IE6-*/
	_filter: chroma(color =                     tomato); /*For IE6-*/
}

.subMenu .outMenu .outMenuCenterCell {
	width: 50px;
	height: 24px;
	border-top: transparent 1px solid;
	border-bottom: transparent 1px solid;
	padding-right: 10px;
	_border-color: tomato; /*For IE6-*/
	_filter: chroma(color =                   tomato); /*For IE6-*/
}

.subMenu a:link,.subMenu a:visited,.subMenu a:hover,.subMenu a:active,.subMenu a:focus
	{
	color: #000000;
}

.subMenu a {
	font-family: Arial, tahoma, Verdana, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: left;
	text-decoration: none;
	cursor: default;
}

.subMenu .outMenu .outMenuCenterCell_HasChild {
	color: #000000;
	width: 5px;
	height: 24px;
	border-top: transparent 1px solid;
	border-bottom: transparent 1px solid;
	background-repeat: no-repeat;
	background-image: url(images/arrow.gif);
	background-position: center 8px;
	_border-color: tomato; /*For IE6-*/
	_filter: chroma(color =                   tomato); /*For IE6-*/
}

.subMenu .outMenu .outMenuCenterCell_NoChild {
	width: 5px;
	height: 24px;
	border-top: transparent 1px solid;
	border-bottom: transparent 1px solid;
	_border-color: tomato; /*For IE6-*/
	_filter: chroma(color =                   tomato); /*For IE6-*/
}

.subMenu .outMenu .outMenuRightCell {
	width: 5px;
	height: 24px;
	border-top: transparent 1px solid;
	border-bottom: transparent 1px solid;
	border-right: transparent 1px solid;
	_border-color: tomato; /*For IE6-*/
	_filter: chroma(color =                   tomato); /*For IE6-*/
}

.subMenu .overMenu {
	cursor: default;
}

.subMenu .overMenu .overMenuLeftCell {
	width: 22px;
	height: 24px;
	border-left: #E8A961 1px solid;
	border-top: #E8A961 1px solid;
	border-bottom: #E8A961 1px solid;
	background-color: #FAE6B0;
}

.subMenu .overMenu .overMenuCenterCell {
	width: 50px;
	height: 24px;
	padding-right: 10px;
	border-top: #E8A961 1px solid;
	border-bottom: #E8A961 1px solid;
	background-color: #FAE6B0;
}

.subMenu .overMenu .overMenuCenterCell_HasChild {
	width: 5px;
	height: 24px;
	border-top: #E8A961 1px solid;
	border-bottom: #E8A961 1px solid;
	background-repeat: no-repeat;
	background-image: url(images/arrow.gif);
	background-position: center 8px;
	background-color: #FAE6B0;
}

.subMenu .overMenu .overMenuCenterCell_NoChild {
	width: 5px;
	height: 24px;
	border-top: #E8A961 1px solid;
	border-bottom: #E8A961 1px solid;
	background-color: #FAE6B0;
}

.subMenu .overMenu .overMenuRightCell {
	width: 5px;
	height: 24px;
	border-top: #E8A961 1px solid;
	border-bottom: #E8A961 1px solid;
	border-right: #E8A961 1px solid;
	background-color: #FAE6B0;
}